---
layout: default
redirect_from:
  - /bitcoin
  - /bitcoin/
---
<!-- The main content area -->


<div class="post__content section-padding">
  <div id="markdown" class="grid">
    <center>
      <img src="assets/images/einundzwanzig-horizontal.png"/>
    </center>

    <div class="posts">
      <div class="grid-xlarge">
        <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>
          {% for host in site.hosts %}
            {% include host-card.html %}
          {% endfor %}
        </div>
      </div>
    </div>

    <p>
      <!-- Twitter Timeline -->
      <a
        class="twitter-timeline"
        href="https://twitter.com/_einundzwanzig_?ref_src=twsrc%5Etfw">
      </a>
      <script
        async
        src="https://platform.twitter.com/widgets.js" charset="utf-8">
      </script>
    </p>
  </div>
</div>
